.container {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  text-align: center;
}

.logo {
  width: 90%;
  margin-bottom: 15%;
}

.albumArt {
  margin-top: 25px;
  width: 50%;
  border-radius: 10px;
}

.altImage {
  margin-top: 25px;
  width: 50%;
  border-radius: 10px;
  opacity: 0.8;
}

a {
  opacity: 1 !important;
}

a:hover {
  opacity: 0.75 !important;
}

.controls svg {
  width: 50px!important;
  height: 50px!important;
  /*fill: rgba(0, 0, 0, 0.43);*/
}